<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Racing Zone Marketplace: Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container mx-auto my-auto px-5 pb-3 pt-3">
        <nav class="nav-bar row align-items-center mb-4">
            <h1 class="col-6 text-start fw-bold top-title">Welcome {{session['signed_in_user_name']}} !</h1>
            <div class="col-6 d-md-inline-flex justify-content-end">
                    <a href="/home" class="btn btn-outline-dark rounded-0 shadow bg-primary-subtle text-black fw-bold px-3">Home</a>
                    <a href="/listing/create" class="btn btn-outline-dark rounded-0 shadow bg-white text-black fw-bold px-3">Create Listing</a>
                    <a href="/account_&_garage" class="btn btn-outline-dark rounded-0 shadow bg-white text-black fw-bold px-3">Account & Garage</a>
            </div>
        </nav>
        <p class="text-primary-emphasis fw-bolder top-title">Current Credits $100,000</p>
        <div class="row flex-md-wrap">
            <!-- ill add a jinja2 for loop here to repeat the process for the rest of the objects -->
            {% for car in cars %}
            <div class="col-md-3">
                <div class="p-3 mb-3 card bg-opacity-75 bg-light shadow border-1 border-dark-subtle border">
                    <img src="path:{{ car.image_path }}" alt="{{ car.image_path }}" class="card-img-top bg-danger text-center">
                    <div class="card-body">
                        <h5 class="mt-1 text-center">{{ car.price }}</h5>
                        <h5 class="mt-1 text-center">{{ car.make }} {{ car.model }}</h5>
                        <p class="mt-2 card-text">
                            {{ car.description }}
                        </p>
                    </div>
                    <a class="mt-2 px-5 fw-bold card-footer btn bg-gradient btn-success bg-success rounded" href="/view/listing">View</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>